.env
__pycache__/
lib/
.DS_Store
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.pytest_cache/
instance/
.scrapy
.ipynb_checkpoints
profile_default/
ipython_config.py
poetry.lock
poem.txt
